<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>test4</title>
	<style>
		.slide{height:303px;position:relative;background-color: #324232;}
		.pointer{position:absolute;bottom:10px;left:50%;transform:translateX(-50%);font-size: 0;}
		i{display:inline-block;width:10px;height:10px;border-radius:5px;background-color:#000;}
		i + i{margin-left:5px;}

	</style>
</head>
<body>
	<div class="slide">
		<div class="pointer">
			<i></i><i></i><i></i><i></i>
		</div>
	</div>
</body>
</html>