<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>test5</title>
	<style>
		.parent{position:relative;}
		.left,.center,.right{height:40px;}
		.left,.right{width:100px;}
		.left{background-color:#009cda;margin-right:10px;float:left;}
		.center{background-color:#a4241f;position:absolute;left:110px;right:110px;}
		.right{background-color:#a85464;margin-left:10px;float:right;}
	</style>
</head>
<body>
	<div class="parent">
		<div class="left">左侧定宽</div>
		<div class="center">中间自适应</div>
		<div class="right">右侧定宽</div>
	</div>
</body>
</html>