<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>test</title>
	<style>
		/* 先不用负的margin值 */
		.parent{width:400px;height:300px;background-color:#fff;}
		.item{background-color:#009899;float:left;width:50%;height:150px;padding-right:10px;padding-bottom:10px;box-sizing:border-box;background-clip:content-box;}
	</style>
</head>
<body>
	<div class="parent">
			<div class="item"></div>
			<div class="item"></div>
			<div class="item"></div>
			<div class="item"></div>
	</div>
</body>
</html>